body {
    background-color: #181a1b;
    color: #c5c1ba;
}

a:hover {
    color: #6aaaea;
}

.navbar-item {
    color: #c5c1ba;
}

.footer-title {
    color: #e1dfdb;
}

.message.is-info .message-body {
    color: #e1dfdb;
}

.panel-background {
    background-color: #2d3032;
}
.input {
    background-color: #e1dfdb;
}
.label {
    color: #e1dfdb;
}
.card-header-title {
    color: #181a1b;
}

.plus-icon {
    font-size: 3em;
    margin-top: -0.27em;
    margin-left: -1em;
    color: #181a1b;
}

.input:autofill {
    background-color: #e1dfdb;
}

.card-background {
    background-color: #181a1b;
}

.navbar {
    background-color: #181a1b;
}

.footer {
    background-color: #1b1d1e;
}

.card-header {
    background-color: #e1dfdb;
}
.card-header-icon {
    padding: 0;
    border: none;
    background: none;
}

.round-bottoms {
    border-radius: 0px 0px 6px 6px;
}

.input-icon {
    margin-left: 0.8em;
    margin-top: 0.8em;
    color: #2d3032;
}
.card-header {
    border-radius: 6px 6px 0px 0px;
}
.card {
    border-radius: 6px;
}

nav.navbar {
    height: 6rem !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

.navbar-item img {
    max-height: 75%;
}

a.navbar-item.is-active {
    color: #e1dfdb;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: #2b2e2f;
    color: #edecea;
}

.masonry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.grid-container {
    columns: 3 300px;
    column-gap: 1.5rem;
    width: 99%;
    margin: 1em;
}

.feed-container {
    margin: 1em;
}

.grid-container div {
    display: inline-block;
    padding: 1px;
}
.create-button-container {
    width: 100%;
    height: 10em;
}

.create-button-card {
    width: 40%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    padding-bottom: 1.7em;
}

@media only screen and (max-width: 1025px) {
    .navbar-item img {
        max-height: 3em;
    }
}
/* 

.hug {
    margin-top: -3em;
}

.table-id {
    width: 10%;
}

.table-title {
    width: auto;
}

.table-edit {
    width: 6%;
}

.table-delete {
    width: 6%;
}

.hero-body-neg {
    margin-top: -3em;
}

.delete-comment {
    text-decoration: underline;
}

.delete-comment:hover {
    cursor: pointer;
}

 */
