body {
    background-color: #181a1b;
    color: #c5c1ba;
}

a:hover {
    color: #6aaaea;
}

.navbar-item {
    color: #c5c1ba;
}

.footer-title {
    color: #e1dfdb;
}

.message.is-info .message-body {
    color: #e1dfdb;
}
.comment-input {
    background-color: #e1dfdb;
}

.comment-cards {
    background-color: #181a1b;
}
.message-body {
    color: #c5c1ba;
    border-color: #5e6366;
}
.panel-background {
    background-color: #2d3032;
}
.input {
    background-color: #e1dfdb;
}
.label {
    color: #e1dfdb;
}
.card-header-title {
    color: #181a1b;
}

.plus-icon {
    font-size: 3em;
    margin-top: -0.27em;
    margin-left: -1em;
    color: #181a1b;
}
/* 1e2021 */
.timeline-TweetList-tweet {
    background-color: #1e2021;
}

.tw-background {
    background-color: #181a1b;
}
.Avatar {
    background: #181a1b;
}
.tw-profile-img {
    border-radius: 3px;
}
.TweetAuthor-screenName {
    color: #a3a299;
}
.input:autofill {
    background-color: #e1dfdb;
}
.timeline-Tweet-text {
    color: #c8cfcc;
}
.timeline-Tweet-action {
    margin-bottom: 0.5em;
}
.single-feed {
    width: 60%;
}
.single-feed-section {
    padding: 1em;
}
.center-card {
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-background {
    background-color: #181a1b;
}
.card-content {
    padding: 3px;
}
.navbar {
    background-color: #181a1b;
}

.footer {
    background-color: #1b1d1e;
}

.card-header {
    background-color: #cccac5;
}
.card-header-icon {
    padding: 0;
    border: none;
    background: none;
}

.round-bottoms {
    border-radius: 0px 0px 6px 6px;
}

.input-icon {
    margin-left: 0.8em;
    margin-top: 0.8em;
    color: #2d3032;
}
.card-header {
    border-radius: 6px 6px 0px 0px;
}
.card {
    border-radius: 6px;
}

nav.navbar {
    height: 6rem !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

.navbar-item img {
    max-height: 75%;
}

a.navbar-item.is-active {
    color: #e1dfdb;
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
    background-color: #2b2e2f;
    color: #edecea;
}

.masonry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.grid-container {
    columns: 3 300px;
    column-gap: 1.5rem;
    width: 99%;
    margin: 1em;
}

.feed-container {
    margin: 1em;
}

.grid-container div {
    display: inline-block;
    padding: 1px;
}
.create-button-container {
    width: 100%;
    height: 10em;
}

.create-button-card {
    width: 40%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    padding-bottom: 1.7em;
}

.feed-tweet-author {
    margin-left: 0px;
}
.center-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-hero {
    margin-bottom: 1em;
    border-radius: 6px;
}
.hero-body {
    background-color: #3f91ca;
    border-radius: 6px;
}
.main-body {
    padding: 2em;
}
.tile.box {
    background-color: #f1efeb;
}
.new-feed-div {
    width: 25em;
    height: 9em;
    background-color: #181a1b;
}
.card {
    background-color: #181a1b;
}
.create-feed-container {
    margin-left: 3.5em;
    text-align: center;
}
.new-feed-button {
    margin-top: 0.9em;
    width: 90%;
    height: 80%;
    border-radius: 6px;
    /* border: 0; */
    color: white;
    background-color: #5e6366;
    font-size: 1em;
}
@media only screen and (max-width: 1025px) {
    .navbar-item img {
        max-height: 3em;
    }
    .single-feed {
        width: 90%;
    }
    .comment-entry {
        width: 80%;
    }
}
